<!-------------------------------- CONVERT CUSTOMERS -------------------------------->

<section id="conversion">

    <!-------------------------------- FEATURE -------------------------------->

    <section id="feature">
        <h1>The Go To Professional <strong>Web Developers</strong></h1>
        <section id="banner">
            <%= image_tag "placeholder/placeholder620x300.gif", size: "620x300", alt: "Ruby" %>
        </section> <!-- id: banner -->
        <section id="services">
            <%= image_tag "technology/technologies.png", size: "620x80", alt: "Ruby" %>
        </section> <!-- id: services -->
    </section> <!-- id: feature -->

    <!-------------------------------- ENQUIRY FORM -------------------------------->

    <section id="enquiry">
        <h4>Enquire Now - Free Consulation</h4>
        <p>Discuss your web ideas with one of our experienced consultants.</p>
        <form action="">
            <input type="text" id="name" placeholder="Name *"/>
            <input type="text" id="telephone" placeholder="Phone *"/>
            <input type="text" id="postcode" placeholder="Postcode *"/>
            <input type="text" id="email" placeholder="Email *"/>
            <textarea name="message" id="message" placeholder="Message *"></textarea>
            <button id="enguiry">Get a Fast Quote Now</button>
        </form>
        <h5>We take you privacy seriously</h5>
    </section> <!-- id: enquiry -->
</section> <!-- id: conversion -->

<!-------------------------------- CONTENT -------------------------------->

<section id="content">
    <section id="content-left">
        <h2>We will launch you ahead of the competition</h2>
        <p>We are an innovative web development company that creates beautiful and secure websites optimised for the web including support on all devices (e.g. desktop, tablet and mobile). Our website designs will satisfy any business requirement in the delivery of proven interface design (UI), user experience (UX) and search engine optimisation (SEO).</p>
        <p>Our web dojo provides everything you need to be successful in the online marketing: informative and ecommerce websites, web and mobile application, database design and development, user experience and user interface design, graphic design, search engine optimisation, analytics and conversion rate optimisation.</p>
        <h3>Website Guarantee *</h3>
        <div id="guarantees">
            <div id="guarantees-left">
                <ul>
                    <li><span class="tick">&#10003</span>Beautiful and user friendly</li>
                    <li><span class="tick">&#10003</span>Search engine optimised (SEO)</li>
                    <li><span class="tick">&#10003</span>Safe and secure</li>
                </ul>
            </div> <!-- id: guarantees-left -->
            <div id="guarantees-right">
                <ul>
                    <li><span class="tick">&#10003</span>Converts customers</li>
                    <li><span class="tick">&#10003</span>Rivals competitors</li>
                    <li><span class="tick">&#10003</span>Bleeding edge technology</li>
                </ul>
            </div> <!-- id: guarantees-right -->
        </div> <!-- id: guarantees -->
    </section> <!-- id: content-left -->
    <section id="content-right">
        <div id="testimonial">
            <h5>“They delivered my desired website that met every requirement and more! No fuss, so quick and easy!”</h5>
            <div id="pic">
                <%= image_tag "testimonial/sherene.JPG", size: "100x140", alt: "Ruby" %>
            </div> <!-- id: pic -->
            <div id="title">
                <strong>Vivid Spectrum</strong>
                <strong>Colour Consulting</strong>
                <span>Sherene Campbell</span>
            </div> <!-- id: title-->
        </div> <!-- id: testimonial -->
    </section> <!-- id: testimonial -->
</section> <!-- id: content -->



